body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #2C2F33; /* Fond sombre Discord */
    color: #fff; /* Texte clair */
    margin: 0;
    padding: 0;
}

#container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #36393F; /* Fond du conteneur sombre Discord */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #7289DA; /* Violet Discord */
}

label {
    display: block;
    margin-top: 10px;
    color: #99AAB5; /* Gris-bleu Discord */
}

input {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #40444B; /* Fond du champ de saisie sombre Discord */
    color: #fff; /* Texte clair */
    border: 1px solid #3A3E44; /* Bordure sombre Discord */
    border-radius: 4px;
}

button {
    padding: 12px 20px;
    margin: 10px 0;
    background-color: #7289DA; /* Violet Discord */
    color: #fff; /* Texte clair */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #677BC4; /* Violet légèrement plus foncé au survol */
}

span.positive {
    color: #43B581; /* Vert Discord */
}

span.negative {
    color: #F04747; /* Rouge Discord */
}

#output {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-line;
    text-align: left;
    margin-top: 20px;
    padding: 15px;
    background-color: #40444B; /* Fond de la zone de sortie sombre Discord */
    border: 1px solid #3A3E44; /* Bordure sombre Discord */
    border-radius: 4px;
    color: #fff; /* Texte clair */
}
